[submodule "src/diffcp"]
	path = src/diffcp
	url = git@github.com:holmesco/diffcp.git
[submodule "src/certifiable-tools"]
	path = src/certifiable-tools
	url = git@github.com:utiasASRL/certifiable-tools.git
[submodule "src/cvxpylayers"]
	path = src/cvxpylayers
	url = git@github.com:holmesco/cvxpylayers.git
[submodule "src/mat_weight_certs"]
	path = src/mat_weight_certs
	url = git@github.com:holmesco/mat_weight_certs
[submodule "src/poly_matrix"]
	path = src/poly_matrix
	url = git@github.com:utiasASRL/poly_matrix
[submodule "src/ro_certs"]
	path = src/ro_certs
	url = git@github.com:duembgen/dev_safe_and_smooth
